.main {
  position: fixed;
  z-index: -1;
  background-image: url("images/clear-sky.jpg");
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  color: white;;
}
