.next-5-days-container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;

}

.col-sm {
  border: 0.5px solid gray;
  border-radius: 10px;
  background: linear-gradient(to top, #bec5d1 0%, #e7e9ec 100%);
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in-out;
  width: 150px;
  height: 210px;
  margin: 15px;

}

.col-sm:hover {
  background: linear-gradient(to top, #58c0edd5 0%, #5fcc8cc1 100%);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

#space-left {
  margin-left: 30px;
}

#space-right {
  margin-right: 30px;
}

.day {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
  opacity: 0.7;
}

.icon {
  font-size: 50px;
}

.details {
  font-weight: bold;
  opacity: 0.6;
}

.temperature-5Days {
  font-weight: 500;
  opacity: 0.6;
  display: inline;
}
.temperature-5Days:hover{
  font-weight: bold;
  color: black;
}